SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/<YOUR_KEY>
PRIVATE_KEY=<YOUR_PRIVATE_KEY>
ETHERSCAN_API_KEY=<YOUR_ETHERSCAN_API_KEY>

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_<YOUR_CLERK_PUBLISHABLE_KEY>
CLERK_SECRET_KEY=sk_test_<YOUR_CLERK_SECRET_KEY>

NFT_NAME=Capstone NFT
NFT_SYMBOL=CNFT
BASE_URI=https://brown-elegant-rattlesnake-650.mypinata.cloud/ipfs/bafybeih2vx3l7gyk7srrkdlvhyidbzqovklkizyzv3wubf3c43dgjmkfvu/
MAX_SUPPLY=1000
COMMON_PRICE_WEI=100000000000000
RARE_PRICE_WEI=500000000000000
LEGENDARY_PRICE_WEI=2000000000000000
COMMON_LIMIT=5
RARE_LIMIT=3
LEGENDARY_LIMIT=1
