SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/<YOUR_KEY>
PRIVATE_KEY=<YOUR_PRIVATE_KEY>
ETHERSCAN_API_KEY=<YOUR_ETHERSCAN_API_KEY>

NFT_NAME=Capstone NFT
NFT_SYMBOL=CNFT
BASE_URI=ipfs://your-metadata-base/
MAX_SUPPLY=1000
MINT_PRICE_WEI=10000000000000000
